# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Calum\Documents\University\YEAR1\Programming 3 (CS112)\week5\nfb19202_SoftFruits\step4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
